:root {
    font-family: Arial,
        Helvetica,
        sans-serif;
    background-color: #f1faee;
}
html {
    scroll-behavior: smooth;
}


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'profile-pic profile-pic profile-pic quote quote quote'
    'about about about about about about'
    'education education education education education education'
    'experience experience experience experience experience experience'
    'skills skills skills skills skills skills'
    'projects projects projects projects projects projects'
    'blogs blogs blogs blogs blogs blogs'
    'contact contact contact contact contact contact';
  gap: 10px;
  background-color: white;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
}

.item1 { grid-area: header; }
.item2 { grid-area: profile-pic; }
.item3 { grid-area: quote; }
.item4 { grid-area: about; }
.item5 { grid-area: education; }
.item6 { grid-area: experience; }
.item7 { grid-area: skills; }
.item8 { grid-area: projects; }
.item9 { grid-area: blogs; }
.item10 { grid-area: contact; }



nav {
    overflow: hidden;
    background-color: rgb(173, 212, 230);
  }
  
  nav a {
    float: right;
    display: block;
    color: #4942cb;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
  }
  
  nav a:hover {
    background-color: rgb(218, 69, 69);
    color: black;
  }
  
  nav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  nav .icon {
    display: none;
  }

  nav a.split {
    float: left;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
    nav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    nav.responsive {position: relative;}
    nav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

  h2{
    display: inline-block;
    width: 20%;
    
  }

.dropdown {
    display: none; 
    visibility: hidden;
}
.block-title {
    font-size: 20px;
    padding: 10px;
    display: block;
    margin: 0;
}

.block-subtitle {
    padding: 10px;
}

#profile-pic {
    float: left;
    background-color: white;
    margin: 0 0 0 10px;
}

#quote {
    background-color: rgb(255, 253, 253);
    color: black;
    font-size: 45px;
    text-align: center;
    padding: 55px;
    font-family: Brush Script MT,
    Brush Script Std,
    cursive;
    

    margin: 0 10px 0 0;
}

#about {
    background-color: #d1f3b0;
    padding: 10px;
    margin: 10px;
    color: black;
}

#about li {
    padding: 5px;
    text-align: justify;
}

#papers {
    background-color: #ddf0a2;
    padding: 10px;
    margin: 10px;
    color: black;
    grid-area: papers;
    min-height: 600px;
    overflow-y: scroll;
}

.papers-block {
    display: block;
    padding: 10px;
    margin: 15px;
    
}

.paper-title {
    display: block;
    font-size: 23px;
    padding: 5px;
}

.paper-title a {
       color: rgb(22 49 73);
    float: right;
}

.paper-title a:hover {
    color: blue;
}

.more-papers a {
       color: rgb(22 49 73);
}

.more-papers a:hover {
    color: blue;
}

.paper-desc {
    display: block;
    padding: 5px;
    text-align: justify;
}

#experiences {
    background-color: #ddf0a2;
    padding: 10px;
    margin: 10px;
    grid-area: experiences;
    color: black;
}

.exp-span {
    display: block;
    padding: 10px;
    margin: 5px;
    text-align: justify;
}

#hobbies {
    background-color: #ddf0a2;
    color: black;
    padding: 10px;
    margin: 10px;
    grid-area: hobbies;
}

.hobbies-list {
    padding: 5px;
    margin: 5px;
}

#blogs {
    padding: 10px;
    margin: 10px;
    color: black;
    background-color: #ddf0a2;
    grid-area: blogs;
}

#pictures {
    padding: 10px;
    border: 5px solid #457b9d;
    border-radius: 5px;
    margin: 10px;
    color: black;
    background-color: #ddf0a2;
    text-align: center;
    grid-area: pictures;
    max-height: 400px;
    min-height: 400px;
    overflow-y: scroll;
}

.pic-img {
    height: 250px;
    width: 250px;
    padding: 18px;
    text-align: center;
    border-radius: 10%;
}

ter {
    background-color: #3a3bb6;
    font-size: 30px;
    margin: 0 10px;

}

.blogs-wrapper{
    display: flex;
}

